<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
</head>
<body>
<h1>Sorry, an error occurred.</h1>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>