<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
</head>
<body>
<form method="post" action="/index" id="loginForm">
Username: <input type="text" id="userNameInput" name="userNameInput"/></br>
Password: <input type="password" id="passwordInput"/></br>
<input type="submit" id="submitButton" value="Login"/></br>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/loginScript.js"></script>
</html>